Package: com.yourcompany.justjump
Name: JustJump
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LAgagggggg
Author: LAgagggggg
Section: Tweaks
